<div class="comment-header">
  {% if comment.url %}
  <a href="{{ comment.url }}" rel="nofollow">
    <img class="commentimg" alt="Gravatar for {{ comment.name | xml_escape }}" src="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=48&amp;d=identicon&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="48" width="48">
  </a>
  {% else if comment.email == author.email %}
  <a> <img class="commentimg" alt="Profile Picture for Papa Kojo Ampim-Darko" src="/assets/images/profpic.jpg" width="48" height="48"> </a>
  {% else %}
  <img class="commentimg" alt="Gravatar for {{ comment.name | xml_escape }}" src="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=48&amp;d=mp&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ comment.gravatar }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="48" width="48">
  {% endif %}
</div>
<div style="display:inline-block;">
  <cite class="citation">
    {% if comment.url %}
      <a href="{{ comment.url }}" rel="nofollow">{{ comment.name | xml_escape }}</a>
    {% else %}
    {{ comment.name | xml_escape }}
    {% endif %}
    <div class="muted" title="{{ comment.date | date_to_rfc822 }}">
      {{ comment.date | date: "%-d %B %Y"}} at {{ comment.date | date: "%R"}}
    </div>
  </cite>
</div>
<blockquote class="comment-content" id="{{ comment.id }}">
  <div class="comment-body">{{ comment.message | markdownify }}</div>
</blockquote>
